{% extends 'base.html' %}

{% block menu %}
{% load static %}

<div class="menu">
        
        {% if mode == 'setup' %}
        <div class="sidebarSetup">
            <h4><a id="sidebar-title" href="/">Hallo {{ request.user.first_name }}</a></h4>
            <ul>
                <li><a href="/dashboard/">Dashboard</a></li>
                <li><a id="btnAddScooter" onclick="scooterRight()">Scooter hinzufügen</a></li>
                <li><a id="btnAddStation" onclick="chargingStationRight()">Ladepunkt hinzufügen</a></li>
                <li><a onclick="darkMode()" id="darkmode">Light Mode</a></li>
                <li><a href="/settings/">Einstellungen</a></li>
            </ul>
        </div>
        {% endif %}
        {% if mode == 'operative' %}
        <div class="sidebarOperative">
            <h4><a id="sidebar-title" href="/">Hallo {{ request.user.first_name }}</a></h4>
            <ul>
                <li><a onclick="darkMode()" id="darkmode">Light Mode</a></li>
                <li><a href="/settings/">Einstellungen</a></li>
            </ul>
        </div>
        {% endif %}
    
</div>

{% endblock %}
