<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Einnahmen</p>
    <p>Ausgaben</p>
    <p>Nutzung (Kilometer pro Tag insgesamt)</p>
    <p>Nutzung (Kilometer pro Monat insgesamt)</p>
    <p>Nutzung (Kilometer pro Jahr insgesamt)</p>

    <p>Nutzung (Kilometer pro Tag insgesamt)</p>

    Durschnittseinkommen pro Fahrt pro Benutzer

    typ | Object-ID | action-time | action-type | start | end | einnahmen | 




</body>
</html>