<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scooter Verwaltung</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap" rel="stylesheet">
    
</head>
<body>
    <header>
        <h1>Scooter Verwaltung</h1>
    </header>

    <button onclick="addScooter()">
        Neuer Scooter
    </button>

    {% for row in all_items %}
    <div class="scooter-item">
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>created_at</th>
            </tr>
            <tr>
                <td>{{ row.scooter_id }}</td>
                <td>{{ row.name }}</td>
                <td>{{ row.created_at }}</td>
            </tr>
        </table>
    </div>
    {% endfor %}


    <script>
        function addScooter(){
            let itemName = prompt('Neuer Scooter');
            let token = '{{ csrf_token }}';

            let formData = new FormData();
            formData.append('itemName', itemName);
            formData.append('csrfmiddlewaretoken', token);
            
            fetch('/scooter/', {
                method: 'POST',
                body: formData
            });

            window.location.reload();
        }
    </script>



</body>
</html>